{% extends 'layout.html.twig' %}

{% block title %}Editer Profil{% endblock %}

{% block body %}
    <div class="container">

        <h1 class="m-2 mt-5 mb-4">Editer ses informations</h1>

        <a href="{{ path('account') }}" class="btn btn-primary m-2">Retour</a>

        {{ include('account/_form.html.twig', {'button_label': 'Éditer'}) }}
    </div>

{% endblock %}
