$theme-colors: (
        "primary": rgb(160, 23, 7),
        "secondary": #cc7f14,
        "dark-color": rgba(38, 38, 38, 0.82),
        "success": #9b5e13,
        "black": black,
);

$background-body: #000000;
$background-nav: rgba(255, 250, 253, 0.92);
$primary: rgb(160, 23, 7);
$secondary: #cc7f14;
