@import "vars";
@import "~bootstrap/scss/bootstrap";
@import "home";
@import "navbar";
@import "~rfs/scss";

body {
    margin-top: 9rem;
    font-family: 'Merriweather', serif;
    color: whitesmoke;
    background-color: $background-body;
}

h1, .navbar {
    font-family: 'Cinzel', serif;
    @include font-size(64px);
}

p {
    @include font-size(22px);
    hyphens: auto;
}

.login-form {
    max-width: 40rem;
}

a:focus, img:focus {
    outline: 0;
}
